

.PredictionGraph {
    /* border: 5px red solid; */
    font-family: "Montserrat";
    overflow: visible;
    font-size: 16px;

    text-align: left;
    margin-bottom: 32px;
}

.PredictionGraph h {
    display: block;
    margin-left: 2%;
    margin-bottom: 15px;
    font-size: 24px;
}

.PredictionGraph hr {
    display: block;
    margin-bottom: 25px;
    margin-left: 0%;
    width: 104%;
}

.ToggleTooltip {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.ToggleTooltip button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.ToggleTooltip p {
    display: inline-block;
    margin-right: 20px;
    height: 100%;
}