.RangeSlider {
    width: calc(87%);
    height: 15px;
    border: 2px grey solid;
    margin-top: 10px;
    position: relative;
    user-select: none;
    margin-left: 0px;
    border-radius: 20px;
}

.RangeHandle {
    position: absolute;
    background-color: white;
    width: 25px;
    height: 100%;

    border-radius: 20px;
    border: 2px grey solid;

    outline: 2px white solid;

    top: -2px;
}

.CustomTooltip {
    background: rgba(204, 204, 204, 0.4);
    height: auto;
    padding: 10px;
}

.CustomTooltip p {
    opacity: 2.0;
    margin-top: 5px;
    margin-bottom: 5px;
}